*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


#header{
    text-align: center;
    background-color: black;
    color: white;
    height: 15vh;
}



#main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    height: 40vh;
    padding: 20px;
}


#image{
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-right: 60px;
    transition: transform 0.8s, box-shadow 0.8s;
}
#image:hover{
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#quote{
    color: black;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5;
    max-width: 500px;
    transition: 1s;
    transition-duration: 2s;
}
#quote:hover{
    color:blue;
}


#content{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}


#footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}
#footer p{
    font-size: larger;
    transition:  1s;
}
#footer p:hover{
    color: chartreuse;
}


