* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-color:rgb(157, 71, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 320px;
  background: #222;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  padding: 20px;
}

#display {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #333;
  color: white;
  font-size: 1.8rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  padding: 18px;
  border: none;
  border-radius: 10px;
  background: #444;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #666;
}

.operator {
  background:yellowgreen;
}

.operator:hover {
  background:rgb(84, 120, 13);
}

#enter {
  grid-column: span 2;
  background: green;
}

#enter:hover {
  background:rgb(28, 213, 28);
}

#clear {
  background:rgb(245, 54, 54);
}

#clear:hover {
  background:rgb(216, 34, 34);
}

#del {
  background:rgb(223, 23, 23);
}

#del:hover {
  background:rgb(189, 11, 11);
}